   body {
    margin: 0;
    transition: all 1.5s ease;

    /* animation: window_animation 3s ease;
    animation-fill-mode: forwards; */
   }

   .fade-out {
    opacity: 0;
   }

   .fade-in {
    opacity: 1;
   }


   #add_window {
        /* width: 1360px;
        height: 690px; */
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        /* background-color: transparent; */
        background-image: url("../imagesfile/tiles-shapes-2617112_1280.jpg");
        background-size: cover;
        overflow-x: hidden;
        overflow-y: auto;
   }
   
   /* 圆形按钮样式 */
   .btn.add {
       /* position: relative; */
       width: 100px;
       height: 100px;
       background-color: #31c812;
       border-radius: 50%;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       color: white;
       cursor: pointer;
       position: absolute;
       top: calc(50% - 50px);
       left: calc(50% - 50px);
       z-index: 4;
       font-size: 50px;
       overflow: hidden;
       transition: all 1s ease;
   }
      /* 圆形按钮移动到长方形左上角的样式 */
      .btn.add.move {
        top: calc(50% - 200px - 50px);
        left: calc(50% - 300px - 50px);
    }

   #add_part {
       flex: 1;
       background-color: rgb(61, 228, 10);
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       transition: all 0.5s ease;
   }

   #img_part {
       height: 0;
       background-color: rgba(249, 192, 2, 0.952);
       transition: all 0.5s ease;
       animation: wave 0.5s;
       animation-play-state: pause;
   }

   #add_part span {
       font-size: 5vh;
       /* 使用相对大小，根据父元素的宽度自动调整 */
       position: absolute;
       transition: all 0.5s ease;
   }

   /* 长方形展示框样式 */
   .listshow-container {
       width: 0;
       height: 0;
       background-color: #f0f0f0;
       border: 20px solid #ccc;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       overflow: hidden;
       z-index: 2;
       transition: all 1s ease;
       border-radius: 15px;
       box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13), 0 .0625rem .125rem 0 rgba(0, 0, 0, .11);
   }

   /* 长方形展示框展开时的样式 */
   .listshow-container.show {
       width: 600px;
       height: 400px;
   }

   #imglists {
       height: 400px;
       margin-left: 0;
       margin: 0;
       padding: 0;
       transition: all 0.5s ease;
   }

   .list {
       position: relative;
       width: 600px;
       height: 400px;
       margin: 0;
       list-style: none;
       float: left;
       /* z-index: 1; */
   }

   .flip_container {
       perspective: 1000;
       transform-style: preserve-3d;
   }

   .flip {
       transition: 0.6s;
       transform-style: preserve-3d;
       cursor: pointer;
   }

   .flipped {
       transform: rotateY(-180deg);
   }

   .front,
   .back {
       width: 600px;
       height: 400px;
       position: absolute;
       top: 0;
       left: 0;
       backface-visibility: hidden;
   }

   .back {
       transform: rotateY(-180deg);
       z-index: 2;
   }

   .front {
       z-index: 3;
   }

   .list_img {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   #background-image {
       /* 设置背景图片 */
       background-image: url('../imagesfile/background.jpg');
       width: 100%;
       height: 100%;
       background-size: 100%;
   }

   #text-input {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       /* 可以根据需要设置输入框的样式 */
   }

   #text-input input {
       width: 200px;
       padding: 10px;
       font-size: 16px;
       border: none;
       /* 去掉边框 */
       outline: none;
       /* 去掉聚焦时的边框 */
       background-color: transparent;
       /* 设置透明背景 */
       border-bottom: 1px solid black;
       /* 设置底部边框 */
   }

   .mini_btn {
       position: absolute;
       background-color: rgba(0, 0, 0, 0.5);
       color: white;
       font-size: 20px;
       padding: 10px;
       border: none;
       cursor: pointer;
       z-index: 5;
   }

   .prev {
       top: 50%;
       transform: translateY(-50%);
       left: 0;
   }

   .next {
       top: 50%;
       transform: translateY(-50%);
       right: 0;
   }

   .dele {
       top: 0;
       right: 0;
   }

   #finish_btn {
    height: 50px;
    width: 0;
    color: white;
    background-color: #31c812;
    text-align: right;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1;
    overflow: hidden;
    visibility: hidden;
   }

   #finish_btn.show {
    width: 100px;
    visibility: visible;
   }

   #finish_btn.finishBtnShow_animation {
    animation: finishBtnShow_animation 0.5s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
   }

   #finish_btn.finishBtnHidden_animation {
    animation: finishBtnHidden_animation 1s ease;
    animation-fill-mode: forwards;
   }

   #finish_btn.finishBtnClick_animation {
    animation: finishBtnClick_animation 1s ease;

    animation-fill-mode: forwards;
   }
   #finish_btn.finishBtnClick_animation_ll {
    animation: finishBtnClick_animation_ll 1s ease;

    animation-fill-mode: forwards;
   }


   @keyframes finishBtnShow_animation
{
    0% {width: 0; visibility: hidden;}
    100% {width: 350px; visibility: visible;}
}
@keyframes finishBtnHidden_animation
{
    0% {width: 350px; visibility: visible;}
    100% {width: 0; visibility: hidden;}
}

@keyframes finishBtnClick_animation {
    0% {width: 350px; visibility: visible;}
    50% {width: 330px; visibility: visible;}
    100% {width: 350px; visibility: visible;}
}

@keyframes finishBtnClick_animation_ll {
    0% {width: 350px; visibility: visible;}
    50% {width: 330px; visibility: visible;}
    100% {width: 350px; visibility: visible;}
}

@keyframes window_animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.top_button{
    top: 5px;
    left: 50%;
    transform:translateX(-50%);
    z-index: 100;
    position: absolute;

    width: 100px;
    height:50px;

    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;

    background-color: red;
    color: white;

}